/* whole html */
* {
    box-sizing: border-box;
}

/* body {
    overflow: hidden;
    height: 100%;
} */

/*
welcome page
*/
.welcome-page {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;

}
img {
    max-width: 600px;
    max-height: 600px
}

/* Exp bar */
#evolution1 {
    margin-top: 10%;
    display: grid;
    grid-template-columns: auto auto auto;
}
#audio {
    text-align: center;
}
#exp-container {
    width: 100%;
    background-color: grey;
    margin-top: 10%;
}
#exp-bar {
    width: 1%;
    height: 30px;
    background-color: green;
    text-align: center;
    color: white;
    
}

/* survive bars */
.pet-status {
    width: 100%;
    background-color: grey;
    text-align: left ;
}

#bored {
    background-color: blueviolet;
    width: 70%;
    z-index: 10;
}

#hungry {
    background-color: blueviolet;
    width: 60%;
}
#sleepy {
    background-color: blueviolet;
    width: 80%;
}


/* Evolution 1 grid container example */

/* .grid-container {
    background-color: blue;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
    background-color: tomato;
    border: purple;
    padding: 15px;
} */